.course-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 20px;
}